.button__icon_type_apps-info
{
    background-image: url(button__icon_type_apps-info.png);
    background-position: 0 50%;
    background-size: 200% auto;
}

.button_pressed_yes .button__icon_type_apps-info
{
    background-position: 100% 50%;
}