.button__icon_type_thin-arrow-left
{
    background-image: url(button__icon_type_thin-arrow-left.png);
    background-position: 50% 0;
    background-size: auto 200%;
}

.button_pressed_yes .button__icon_type_thin-arrow-left
{
    background-position: 50% 100%;
}