.button__icon_type_thin-arrow-right
{
    background-image: url(button__icon_type_thin-arrow-right.png);
    background-position: 50% 0;
    background-size: auto 200%;
}

.button_pressed_yes .button__icon_type_thin-arrow-right
{
    background-position: 50% 100%;
}