.tab-switcher_type_content
{
    margin: 18px 0 12px;
    text-align: center;
}

.tab-switcher .tab-switcher_type_content .button_disabled_yes
{
    opacity: 1;
}

.tab-switcher__inner
{
    display: inline-block;
    padding: 20px;
    border-radius: 5px;
    background: rgba(240, 195, 109, 0);
    -webkit-transition: background .3s 0 ease-out;
    -moz-transition: background .3s 0 ease-out;
    -o-transition: background .3s 0 ease-out;
    transition: background .3s 0 ease-out;
}

.tab-switcher.frozen-block_frozen_yes .frozen-block__inner
{
    top: 15px;
    left: 50%;

    z-index: 10;

    margin-left: -180px;
}