.dropdown-new__item
{
    position: relative;
    z-index: 1;
    padding: 0 15px;
    color: #4a5760;
    font: bold 13px/30px Helvetica, 'Helvetica Neue', 'Lucida Grande', Arial, sans-serif;
    cursor: pointer;
}

.dropdown-new__item:hover
{
    background: #22a4c7;
    background: -webkit-linear-gradient(top, rgba(41,182,210,1) 0%,rgba(27,147,188,1) 100%);
    background:    -moz-linear-gradient(top, rgba(41,182,210,1) 0%, rgba(27,147,188,1) 100%);
    background:         linear-gradient(to bottom, rgba(41,182,210,1) 0%,rgba(27,147,188,1) 100%);
    -webkit-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .1);
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .1);
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .2);
}