.input_theme_grey .input__box
{
    background: #A3A6A9;
    background: -webkit-linear-gradient(top, rgba(163, 166, 169, 1) 0%, rgba(130, 134, 139, 1) 100%);
    background:    -moz-linear-gradient(top, rgba(163, 166, 169, 1) 0%, rgba(130, 134, 139, 1) 100%);
    background:         linear-gradient(to bottom, rgba(163, 166, 169, 1) 0%, rgba(130, 134, 139, 1) 100%);
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .1), 0 1px 0 rgba(255, 255, 255, .2), 0 0 1px rgba(0, 0, 0, .4);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .1), 0 1px 0 rgba(255, 255, 255, .2), 0 0 1px rgba(0, 0, 0, .4);
}

.input_theme_grey .input__control,
.input_theme_grey .input__hint
{
    color: #48494b;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .3);
    font-family: Helvetica, Tahoma, sans-serif;
}