.checkbox__tick
{
    text-align: center;
    left: 2px;
    background: none;
}
.checkbox__tick:before
{
    content: '✖';
    font-style: normal;
    margin: 0;
    top:0;
    left:0;
    vertical-align: top;
    opacity: 1
}
