libs
node_modules

.DS_Store
.idea
*.iml
.project
.svn
.settings

.bem/cache
.bem/snapshots

desktop.sets/*.examples/

desktop.bundles
!*.bundles/*/*.bemjson.js
!*.bundles/*/blocks/*
!*.bundles/.bem/*

release
/i