bem-bl
bem-page
bem-core
bem-controls
bem-media
bem-popups
bem-search
bem-services
bem-user

bem-pr
bem-gen-doc
bem-json

vendor
node_modules

.DS_Store
.idea
.project
.svn
.settings

.bem/cache
.bem/snapshots

*.bundles
desktop.sets/*.examples/
!*.bundles/*/*.bemjson.js
!*.bundles/*/blocks/*
!*.bundles/.bem/*

release