.tab-switcher__item
{
    display: inline-block;
    vertical-align: top;
    text-align: center;
    position: fixed;
    top: 50%;
    right: 0;
    z-index: 2;
    margin: -35px 0 0;
}

.tab-switcher__item_type_next,
.tab-switcher__item_type_prev
{
    top: 50%;
    z-index: 2;
    margin: -35px 0 0;
}

.tab-switcher .button_only-icon_yes
{
    position: fixed;
}

.tab-switcher__item_type_next
{
    right: 0;
}

.tab-switcher__item_type_prev
{
    left: 0;
}

.tab-switcher__item
{
    margin-left: 45px;
}

.tab-switcher__text
{
    margin: 7px 0 0;
    color: #908e91;
    text-transform: uppercase;
    text-shadow: 0 1px 1px rgba(255, 255, 255, .23);
    font: bold 12px/19px Helvetica, 'Helvetica Neue', 'Lucida Grande', Arial, sans-serif;
}

.tab-switcher__item_active_yes .tab-switcher__text
{
    color: #3f3f42;
}

.tab-switcher__item:first-child
{
    right: auto;
    left: 0;
}

.tab-switcher__item .button__icon
{
    background-position: 50% 0;
}