.dropdown_direction_top.dropdown_align_end .dropdown__content-wrapper,
.dropdown_direction_bottom.dropdown_align_end .dropdown__content-wrapper,
.dropdown_direction_top.dropdown_align_end .dropdown__content,
.dropdown_direction_bottom.dropdown_align_end .dropdown__content
{
    right: 0;
}

.dropdown_direction_top.dropdown_align_end .dropdown__content:before,
.dropdown_direction_top.dropdown_align_end .dropdown__content:after,
.dropdown_direction_bottom.dropdown_align_end .dropdown__content:before,
.dropdown_direction_bottom.dropdown_align_end .dropdown__content:after
{
    right: 26px;
}

.dropdown_direction_top.dropdown_align_end .dropdown__content:before,
.dropdown_direction_bottom.dropdown_align_end .dropdown__content:before
{
    margin-right: -8px;
}

.dropdown_direction_top.dropdown_align_end .dropdown__content:after,
.dropdown_direction_bottom.dropdown_align_end .dropdown__content:after
{
    margin-right: -7px;
}


.dropdown_direction_right.dropdown_align_end .dropdown__content-wrapper,
.dropdown_direction_left.dropdown_align_end .dropdown__content-wrapper,
.dropdown_direction_right.dropdown_align_end .dropdown__content,
.dropdown_direction_left.dropdown_align_end .dropdown__content
{
    bottom: 0;
}

.dropdown_direction_right.dropdown_align_end .dropdown__content:before,
.dropdown_direction_right.dropdown_align_end .dropdown__content:after,
.dropdown_direction_left.dropdown_align_end .dropdown__content:before,
.dropdown_direction_left.dropdown_align_end .dropdown__content:after
{
    bottom: 26px;
}

.dropdown_direction_right.dropdown_align_end .dropdown__content:before,
.dropdown_direction_left.dropdown_align_end .dropdown__content:before
{
    margin-bottom: -8px;
}

.dropdown_direction_right.dropdown_align_end .dropdown__content:after,
.dropdown_direction_left.dropdown_align_end .dropdown__content:after
{
    margin-bottom: -7px;
}