.input_color_dark-grey .input__box
{
    background: #646668;
    background: -webkit-linear-gradient(top, rgba(112,113,115,1) 0%,rgba(86,88,90,1) 100%);
    background:    -moz-linear-gradient(top, rgba(112,113,115,1) 0%, rgba(86,88,90,1) 100%);
    background:         linear-gradient(to bottom, rgba(112,113,115,1) 0%,rgba(86,88,90,1) 100%);
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .2), inset 0 1px 3px rgba(0, 0, 0, .2);
    box-shadow: 0 1px 0 rgba(255, 255, 255, .2), inset 0 1px 3px rgba(0, 0, 0, .2);
}

.input_color_dark-grey .input__control,
.input_color_dark-grey .input__hint
{
    color: #d9dbdd;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .4);
    font-family: Helvetica, Tahoma, sans-serif;
}