.dropdown_direction_left .dropdown__content-wrapper
{
    right: 100%;
    margin: 0 12px 0 0;
}

.dropdown_direction_left .dropdown__content-wrapper_visibility_hidden
{
    margin-right: 27px;
}

.dropdown_direction_left .dropdown__content:before
{
    right: -9px;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 10px solid rgba(0, 0, 0, .2);
}

.dropdown_direction_left .dropdown__content:after
{
    right: -8px;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-left: 9px solid #fff;
}