.dropdown_direction_right .dropdown__content-wrapper
{
    left: 100%;
    margin: 0 0 0 12px;
}

.dropdown_direction_right.dropdown_visibility_hidden .dropdown__content-wrapper
{
    margin-left: 27px;
}

.dropdown_direction_right .dropdown__content:before
{
    left: -9px;
    border-top: 8px solid transparent;
    border-right: 10px solid rgba(0, 0, 0, .2);
    border-bottom: 8px solid transparent;
}

.dropdown_direction_right .dropdown__content:after
{
    left: -8px;
    border-top: 7px solid transparent;
    border-right: 9px solid #fff;
    border-bottom: 7px solid transparent;
}