.dropdown_direction_top .dropdown__content-wrapper
{
    bottom: 100%;
    margin: 0 0 12px;
}

.dropdown_direction_top .dropdown__content-wrapper_visibility_hidden
{
    margin-bottom: 27px;
}

.dropdown_direction_top .dropdown__content:before
{
    bottom: -9px;
    border-top: 10px solid rgba(0, 0, 0, .2);
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
}

.dropdown_direction_top .dropdown__content:after
{
    bottom: -8px;
    border-top: 9px solid #fff;
    border-right: 7px solid transparent;
    border-left: 7px solid transparent;
}