.icon_type_arrow-down
{
    background-image: url(icon_type_arrow-down.png);
    background-position: 0 50%;
    background-size: 100% auto;
}

/*
.icon_pressed_yes.icon_type_apps-info,
.button_pressed_yes .icon_type_apps-info
{
    background-position: 100% 50%;
}
*/