.icon_type_arrow-up
{
    background-image: url(icon_type_arrow-up.png);
    background-position: 0 50%;
    background-size: 200% auto;
}

.icon_pressed_yes.icon_type_arrow-up,
.button_pressed_yes .icon_type_arrow-up
{
    background-position: 100% 50%;
}