.icon_type_dashboard
{
    background-image: url(icon_type_dashboard.png);
    background-position: 0 50%;
    background-size: 200% auto;
}

.icon_pressed_yes.icon_type_dashboard,
.button_pressed_yes .icon_type_dashboard
{
    background-position: 100% 50%;
}