.dropdown-new_direction_top.dropdown-new_align_start .dropdown-new__content-wrapper,
.dropdown-new_direction_bottom.dropdown-new_align_start .dropdown-new__content-wrapper,
.dropdown-new_direction_top.dropdown-new_align_start .dropdown-new__content,
.dropdown-new_direction_bottom.dropdown-new_align_start .dropdown-new__content
{
    left: 0;
}

.dropdown-new_direction_top.dropdown-new_align_start .dropdown-new__content:before,
.dropdown-new_direction_top.dropdown-new_align_start .dropdown-new__content:after,
.dropdown-new_direction_bottom.dropdown-new_align_start .dropdown-new__content:before,
.dropdown-new_direction_bottom.dropdown-new_align_start .dropdown-new__content:after
{
    left: 26px;
}

.dropdown-new_direction_top.dropdown-new_align_start .dropdown-new__content:before,
.dropdown-new_direction_bottom.dropdown-new_align_start .dropdown-new__content:before
{
    margin-left: -8px;
}

.dropdown-new_direction_top.dropdown-new_align_start .dropdown-new__content:after,
.dropdown-new_direction_bottom.dropdown-new_align_start .dropdown-new__content:after
{
    margin-left: -7px;
}


.dropdown-new_direction_right.dropdown-new_align_start .dropdown-new__content-wrapper,
.dropdown-new_direction_left.dropdown-new_align_start .dropdown-new__content-wrapper,
.dropdown-new_direction_right.dropdown-new_align_start .dropdown-new__content,
.dropdown-new_direction_left.dropdown-new_align_start .dropdown-new__content
{
    top: 0;
}

.dropdown-new_direction_right.dropdown-new_align_start .dropdown-new__content:before,
.dropdown-new_direction_right.dropdown-new_align_start .dropdown-new__content:after,
.dropdown-new_direction_left.dropdown-new_align_start .dropdown-new__content:before,
.dropdown-new_direction_left.dropdown-new_align_start .dropdown-new__content:after
{
   top: 26px;
}

.dropdown-new_direction_right.dropdown-new_align_start .dropdown-new__content:before,
.dropdown-new_direction_left.dropdown-new_align_start .dropdown-new__content:before
{
    margin-top: -8px;
}

.dropdown-new_direction_right.dropdown-new_align_start .dropdown-new__content:after,
.dropdown-new_direction_left.dropdown-new_align_start .dropdown-new__content:after
{
    margin-top: -7px;
}