.checkbox_size_m .checkbox__box
{
    width: 32px;
    height: 32px;
}

.checkbox_size_m .checkbox__tick
{
    font-size: 25px;
    line-height: 32px;
}

.checkbox_size_m .checkbox__label
{
    font-size: 13px;
}