.checkbox_size_s .checkbox__box
{
    width: 28px;
    height: 28px;
}

.checkbox_size_s .checkbox__tick
{
    font-size: 22px;
    line-height: 28px;
}

.checkbox_size_s .checkbox__label
{
    font-size: 13px;
}