.modal-window
{
    background: #eee;
    width: 600px;
    margin: 20px auto;
    z-index: 1000;
}

.modal-window_visibility_hidden
{
    display: none;
}

.modal-window__title
{
    color: white;
    font: 23px helvetica,bold;
    left: 70px;
    position: relative;
    top: -17px;
    word-wrap: break-word;
}

.modal-window__content
{
    font: 18px helvetica,bold;
    margin: 20px;
    position: relative;
    word-wrap: break-word;
}

/* ширма (полупрозрачное затенение под модальным окном) */
.modal-window__paranja_visibility_visible
{
    /* фиксируем, растягиваем на весь доступный экран */
    position: fixed;
    bottom: 0; left: 0; top: 0; right: 0;

    /* если в модальном окне много содержимого, показываем скроллбар */
    overflow: auto;

    /* однопальцевый скролл для iPad*/
    -webkit-overflow-scrolling: touch;

    background: #e9e9e9;
}

/* фикс для странностей в iPad */
.modal-window__paranja_visibility_visible > *
{
    -webkit-transform: translateZ(0px);
}

.modal-window__inner
{
    position: relative;
    z-index: 1;
    background: white;
}

.modal-window:before
{
    height: auto;
    display: inline;
}