.radio-button_size_xxl,
.radio-button_size_xxl .radio-button__radio_side_left,
.radio-button_size_xxl .radio-button__radio_side_right
{
    border-radius: 8px;
}

.radio-button_size_xxl .radio-button__radio
{
    min-width: 70px;
    height: 70px;
    font-size: 24px;
    line-height: 70px;
}

.radio-button_size_xxl .radio-button__text
{
    padding-right: 23px;
    padding-left: 23px;
}