/* 20-tab-switcher.css begin */
/* ../../../../../common.blocks/tab-switcher/tab-switcher.examples/20-tab-switcher.blocks/tab-switcher/__tab/tab-switcher__tab.css begin */
.tab-switcher__tab
{
    display: none;
}

.tab-switcher__tab_active_yes
{
    display: block;
}
/* ../../../../../common.blocks/tab-switcher/tab-switcher.examples/20-tab-switcher.blocks/tab-switcher/__tab/tab-switcher__tab.css end */
/* ../../../../../common.blocks/tab-switcher/tab-switcher.examples/20-tab-switcher.blocks/tab-switcher/_role/tab-switcher_role_navigation.css begin */
.tab-switcher_role_navigation
{
    display: inline-block;
}

.tab-switcher_role_navigation + .tab-switcher_role_navigation
{
    margin-left: -1px;
}
/* ../../../../../common.blocks/tab-switcher/tab-switcher.examples/20-tab-switcher.blocks/tab-switcher/_role/tab-switcher_role_navigation.css end */
/* ../../../../../libs/bem-components/common.blocks/button/button.css begin */
/* button — рисует бордер кнопки */ /**/
.button
{
    position: relative;

    display: inline-block;

    margin: 0;
    padding: 0;

    outline: 0;

    text-align: center;
    white-space: nowrap;

    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.button::-moz-focus-inner
{
    padding: 0;

    border: 0;
}

/* Прячем стили от IE < 9 */ /**/
@media all and (min-width:0px) {
    .button
    {
        border: 0;
    }

    a.button:link,
    a.button:visited
    {
        /* hidden for Opera 12 to remove native focusing  *//**/
        outline: hidden;

        text-decoration: none;
    }
}

/* ../../../../../libs/bem-components/common.blocks/button/button.css end */
/* ../../../../../libs/bem-components/desktop.blocks/button/button.css begin */
@media all and (min-width:0px) {

    .button
    {
        cursor: pointer;
    }

}

a.button:hover
{
    cursor: default;

    /* hidden for Opera 12 to remove native focusing  */
    outline: hidden;

    text-decoration: none;
}

/* ../../../../../libs/bem-components/desktop.blocks/button/button.css end */
/* ../../../../../common.blocks/button/button.css begin */
.button
{
    cursor: pointer;
}

a.button
{
    cursor: pointer;
}

.button_visibility_hidden
{
    display: none !important;
}
/* ../../../../../common.blocks/button/button.css end */
/* ../../../../../libs/bem-components/common.blocks/button/__text/button__text.css begin */
.button__text
{
    position: relative;

    padding: 0 1em;

    pointer-events: none;
}

/* ../../../../../libs/bem-components/common.blocks/button/__text/button__text.css end */
/* ../../../../../common.blocks/button/__text/button__text.css begin */
.button__text
{
    display: inline-block;
}
/* ../../../../../common.blocks/button/__text/button__text.css end */
/* ../../../../../libs/bem-components/common.blocks/button/_disabled/button_disabled_yes.css begin */
.button_disabled_yes
{
    opacity: .6;
}
/* ../../../../../libs/bem-components/common.blocks/button/_disabled/button_disabled_yes.css end */
/* ../../../../../libs/bem-components/desktop.blocks/button/_disabled/button_disabled_yes.css begin */
.button_disabled_yes,
a.button_disabled_yes,
a.button_disabled_yes .button__text
{
    cursor: default;
}
/* ../../../../../libs/bem-components/desktop.blocks/button/_disabled/button_disabled_yes.css end */
/* ../../../../../common.blocks/button/_disabled/button_disabled_yes.css begin */
.button_disabled_yes
{
    cursor: default !important;
}
/* ../../../../../common.blocks/button/_disabled/button_disabled_yes.css end */
/* ../../../../../libs/bem-components/common.blocks/button/_pressed/button_pressed_yes.css begin */
@media all and (min-width:0px) {
    .button_pressed_yes .button__text
    {
        top: 1px;
    }
}

/* ../../../../../libs/bem-components/common.blocks/button/_pressed/button_pressed_yes.css end */
/* ../../../../../common.blocks/button/_pressed/button_pressed_yes.css begin */
.button_pressed_yes .button__text
{
    top: .05em;
}
/* ../../../../../common.blocks/button/_pressed/button_pressed_yes.css end */
/* ../../../../../common.blocks/button/_color/button_color_transparent.css begin */
.button_color_transparent
{
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.05) 0%, rgba(0, 0, 0, 0.07) 100%);
    background:    -moz-linear-gradient(top, rgba(255, 255, 255, 0.05) 0%, rgba(0, 0, 0, 0.07) 100%);
    background:         linear-gradient(to bottom, rgba(255, 255, 255, 0.05) 0%, rgba(0, 0, 0, 0.07) 100%);
    -webkit-box-shadow: inset 0 2px 0 rgba(255, 255, 255, .2), inset 0 1px 1px rgba(0, 0, 0, .2), 0 1px 0 rgba(255, 255, 255, .1), inset 0 0 0 1px rgba(0, 0, 0, .2);
    box-shadow: inset 0 2px 0 rgba(255, 255, 255, .2), inset 0 1px 1px rgba(0, 0, 0, .2), 0 1px 0 rgba(255, 255, 255, .1), inset 0 0 0 1px rgba(0, 0, 0, .2);
}

.button_color_transparent.button_hovered_yes
{
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.18) 0%, rgba(244, 244, 244, 0.12) 100%);
    background:    -moz-linear-gradient(top, rgba(255, 255, 255, 0.18) 0%, rgba(244, 244, 244, 0.12) 100%);
    background:         linear-gradient(to bottom, rgba(255, 255, 255, 0.18) 0%, rgba(244, 244, 244, 0.12) 100%);
    -webkit-box-shadow: inset 0 2px 0 rgba(255, 255, 255, .2), inset 0 1px 1px rgba(0, 0, 0, .4), 0 1px 0 rgba(255, 255, 255, .1), inset 0 0 0 1px rgba(0, 0, 0, .2);
    box-shadow: inset 0 2px 0 rgba(255, 255, 255, .2), inset 0 1px 1px rgba(0, 0, 0, .4), 0 1px 0 rgba(255, 255, 255, .1), inset 0 0 0 1px rgba(0, 0, 0, .2);
}

.button_color_transparent.button_pressed_yes
{
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.25) 100%);
    background:    -moz-linear-gradient(top, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.25) 100%);
    background:         linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.25) 100%);
    -webkit-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.5), 0 1px 0 rgba(255, 255, 255, .1), inset 0 1px 3px rgba(0, 0, 0, 0.6);
    box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.5), 0 1px 0 rgba(255, 255, 255, .1), inset 0 1px 3px rgba(0, 0, 0, 0.6);
}

.button_color_transparent .button__text
{
    color: rgba(0, 0, 0, .75);
    text-shadow: 0 1px 0 rgba(255, 255, 255, .3);
    font-weight: bold;
    font-family: Helvetica, Tahoma, sans-serif;
}
/* ../../../../../common.blocks/button/_color/button_color_transparent.css end */
/* ../../../../../common.blocks/button/_size/button_size_xl.css begin */
.button_size_xl
{
    min-width: 50px;
    height: 50px;
    border-radius: 8px;
    font-size: 17px;
    line-height: 50px;
}

.button_size_xl .button__text
{
    padding-right: 17px;
    padding-left: 17px;
}
/* ../../../../../common.blocks/button/_size/button_size_xl.css end */
/* ../../../../../common.blocks/button/_side/button_side_left.css begin */
.button_side_left
{
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}
/* ../../../../../common.blocks/button/_side/button_side_left.css end */
/* ../../../../../common.blocks/button/_side/button_side_right.css begin */
.button_side_right
{
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}
/* ../../../../../common.blocks/button/_side/button_side_right.css end */
/* ../../../../../libs/bem-components/common.blocks/radiobox/radiobox.css begin */
.radiobox
{
    display: inline-block;
}
/* ../../../../../libs/bem-components/common.blocks/radiobox/radiobox.css end */
/* ../../../../../libs/bem-components/desktop.blocks/radiobox/radiobox.css begin */
@media all and (min-width:0px) {

    .radiobox__box,
    .radiobox__control
    {
        cursor: pointer;
    }

}
/* ../../../../../libs/bem-components/desktop.blocks/radiobox/radiobox.css end */
/* ../../../../../libs/bem-components/common.blocks/radiobox/__radio/radiobox__radio.css begin */
.radiobox__radio
{
    position: relative;
}

/* ../../../../../libs/bem-components/common.blocks/radiobox/__radio/radiobox__radio.css end */
/* ../../../../../libs/bem-components/common.blocks/radiobox/__radio/_checked/radiobox__radio_checked_yes.css begin */
@media all and (min-width:0px) {
    /* Маркер */
    .radiobox__radio_checked_yes .radiobox__box:after
    {
        position: absolute;
        left: 50%;
        top: 50%;

        content: '';

        width: 6px;
        height: 6px;

        margin: -3px 0 0 -3px;
        padding: 0;

        /* Цвет (background) маркера задается в _theme */

        -moz-border-radius: 100%;
        border-radius: 100%;
    }
}
/* ../../../../../libs/bem-components/common.blocks/radiobox/__radio/_checked/radiobox__radio_checked_yes.css end */
/* ../../../../../libs/bem-components/common.blocks/radiobox/__radio/_disabled/radiobox__radio_disabled_yes.css begin */
.radiobox__radio_disabled_yes
{
    opacity: .6;

    /* убираем выделение при клике в webkit-touch */
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* ../../../../../libs/bem-components/common.blocks/radiobox/__radio/_disabled/radiobox__radio_disabled_yes.css end */
/* ../../../../../libs/bem-components/desktop.blocks/radiobox/__radio/_disabled/radiobox__radio_disabled_yes.css begin */
@media all and (min-width:0px) {

    .radiobox__radio_disabled_yes .radiobox__box,
    .radiobox__radio_disabled_yes .radiobox__control
    {
        cursor: default;
    }

}
/* ../../../../../libs/bem-components/desktop.blocks/radiobox/__radio/_disabled/radiobox__radio_disabled_yes.css end */
/* ../../../../../libs/bem-components/common.blocks/radiobox/__box/radiobox__box.css begin */
.radiobox__box
{
    position: relative;
    top: 1px;

    display: inline-block;

    /* Размеры (width, height) обертки задаются в _size */
    margin-right: 0.5em;

    -moz-border-radius: 100%;
    border-radius: 100%;
}
/* ../../../../../libs/bem-components/common.blocks/radiobox/__box/radiobox__box.css end */
/* ../../../../../common.blocks/radiobox/__box/radiobox__box.css begin */
.radiobox__box
{
    top: 0;
    vertical-align: middle;
}

.radiobox__box:before
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-width: 2px;
    border-style: solid;
    border-radius: 100%;
    content: '';
}

.radiobox .radiobox__box:after
{
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: auto;
    width: 50%;
    height: 50%;
}
/* ../../../../../common.blocks/radiobox/__box/radiobox__box.css end */
/* ../../../../../libs/bem-components/common.blocks/radiobox/__control/radiobox__control.css begin */
@media all and (min-width:0px) {
    .i-ua_js_yes .radiobox__control
    {
        position: absolute;

        opacity: 0;
    }
}


/* ../../../../../libs/bem-components/common.blocks/radiobox/__control/radiobox__control.css end */
/* ../../../../../libs/bem-components/common.blocks/radio-button/__radio/radio-button__radio.css begin */
.radio-button__radio
{
    position: relative;
    z-index: 2;

    display: inline-block;

    margin: 0 -1px 0 0;

    outline: 0;

    text-align: center;

    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

/* :before — бордер
   :after — фон */
.radio-button__radio:after,
.radio-button__radio:before
{
    position: absolute;
    right: 1px;
    bottom: 0;
    left: 0;
    top: 0;

    content: '';
}

.radio-button__radio:after
{
    bottom: 1px;
    left: 1px;
    top: 1px;
}

.radio-button__radio_side_left,
.radio-button__radio_side_left:before
{
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.radio-button__radio_side_right,
.radio-button__radio_side_right:before
{
    right: 0;

    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.radio-button__radio_side_left:after
{
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}

.radio-button__radio_side_right:after
{
    right: 1px;

    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

.i-ua_js_no .radio-button__radio:after,
.i-ua_js_no .radio-button__radio:before
{
    display: none;
}

/* ../../../../../libs/bem-components/common.blocks/radio-button/__radio/radio-button__radio.css end */
/* ../../../../../libs/bem-components/desktop.blocks/radio-button/__radio/radio-button__radio.css begin */
@media all and (min-width:0px) {

    .radio-button__radio
    {
        cursor: pointer;
    }

}
/* ../../../../../libs/bem-components/desktop.blocks/radio-button/__radio/radio-button__radio.css end */
/* ../../../../../common.blocks/radio-button/__radio/radio-button__radio.css begin */
.radio-button__radio:first-child:before
{
    display: none !important;
}
/* ../../../../../common.blocks/radio-button/__radio/radio-button__radio.css end */
/* ../../../../../libs/bem-components/common.blocks/radio-button/__radio/_pressed/radio-button__radio_pressed_yes.css begin */
@media all and (min-width:0px) {
    .radio-button__radio_pressed_yes .radio-button__text
    {
        top: 1px;
    }
}

.radio-button__radio_pressed_yes:before
{
    right: 0;
}

.radio-button__radio_next-for-pressed_yes:before
{
    left: 1px;
}


/* ../../../../../libs/bem-components/common.blocks/radio-button/__radio/_pressed/radio-button__radio_pressed_yes.css end */
/* ../../../../../common.blocks/radio-button/__radio/_pressed/radio-button__radio_pressed_yes.css begin */
.radio-button__radio_pressed_yes:before,
.radio-button__radio_pressed_yes + .radio-button__radio:before
{
    display: none;
}

.radio-button__radio_pressed_yes .radio-button__text
{
    top: 0;
}
/* ../../../../../common.blocks/radio-button/__radio/_pressed/radio-button__radio_pressed_yes.css end */
/* ../../../../../libs/bem-components/common.blocks/radio-button/__radio/_focused/radio-button__radio_focused_yes.css begin */
.i-ua_js_yes .radio-button__radio_focused_yes
{
    z-index: 1;
}

/* ../../../../../libs/bem-components/common.blocks/radio-button/__radio/_focused/radio-button__radio_focused_yes.css end */
/* ../../../../../libs/bem-components/common.blocks/radio-button/__radio/_disabled/radio-button__radio_disabled_yes.css begin */
.radio-button__radio_disabled_yes
{
    opacity: .6;

    /* убираем выделение при клике в webkit-touch */
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* ../../../../../libs/bem-components/common.blocks/radio-button/__radio/_disabled/radio-button__radio_disabled_yes.css end */
/* ../../../../../libs/bem-components/desktop.blocks/radio-button/__radio/_disabled/radio-button__radio_disabled_yes.css begin */
@media all and (min-width:0px) {

    .radio-button__radio_disabled_yes
    {
        cursor: default;
    }

}
/* ../../../../../libs/bem-components/desktop.blocks/radio-button/__radio/_disabled/radio-button__radio_disabled_yes.css end */
/* ../../../../../libs/bem-components/common.blocks/radio-button/__radio/_side/radio-button__radio_side_both.css begin */
.radio-button__radio_side_both
{
    border-radius: 3px;
}

.radio-button__radio_side_both:before
{
    right: 0;

    border-radius: 3px;
}

.radio-button__radio_side_both:after
{
    border-radius: 2px;
}

/* ../../../../../libs/bem-components/common.blocks/radio-button/__radio/_side/radio-button__radio_side_both.css end */
/* ../../../../../common.blocks/radio-button/__radio/_side/radio-button__radio_side_both.css begin */
.radio-button__radio_side_both
{
    border-radius: 0 !important;
}
/* ../../../../../common.blocks/radio-button/__radio/_side/radio-button__radio_side_both.css end */
/* ../../../../../common.blocks/radio-button/__radio/_side/radio-button__radio_side_left.css begin */
.radio-button__radio_side_left
{
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}
/* ../../../../../common.blocks/radio-button/__radio/_side/radio-button__radio_side_left.css end */
/* ../../../../../common.blocks/radio-button/__radio/_side/radio-button__radio_side_right.css begin */
.radio-button__radio_side_right
{
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}
/* ../../../../../common.blocks/radio-button/__radio/_side/radio-button__radio_side_right.css end */
/* ../../../../../libs/bem-components/common.blocks/radio-button/__control/radio-button__control.css begin */
@media all and (min-width:0px) {
    .i-ua_js_yes .radio-button__control
    {
        position: absolute;
        /*left: -1000px;*/

        opacity: 0;
    }
}

/* ../../../../../libs/bem-components/common.blocks/radio-button/__control/radio-button__control.css end */
/* ../../../../../libs/bem-components/common.blocks/radio-button/__text/radio-button__text.css begin */
.radio-button__text
{
    position: relative;
    z-index: 1;

    padding: 0 1em;
}

.i-ua_js_no .radio-button__text
{
    padding: 0 1em 0 0.3em;
}

/* ../../../../../libs/bem-components/common.blocks/radio-button/__text/radio-button__text.css end */
/* ../../../../../libs/bem-components/common.blocks/radio-button/radio-button.css begin */
.radio-button
{
    display: inline-block;

    white-space: nowrap;

    border-radius: 3px;
}

/* ../../../../../libs/bem-components/common.blocks/radio-button/radio-button.css end */
/* ../../../../../common.blocks/radio-button/_color/radio-button_color_transparent.css begin */
.radio-button_color_transparent
{
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.05) 0%, rgba(0, 0, 0, 0.07) 100%);
    background:    -moz-linear-gradient(top, rgba(255, 255, 255, 0.05) 0%, rgba(0, 0, 0, 0.07) 100%);
    background:         linear-gradient(to bottom, rgba(255, 255, 255, 0.05) 0%, rgba(0, 0, 0, 0.07) 100%);
    -webkit-box-shadow: inset 0 2px 0 rgba(255, 255, 255, .2), inset 0 1px 1px rgba(0, 0, 0, .2), 0 1px 0 rgba(255, 255, 255, .1), inset 0 0 0 1px rgba(0, 0, 0, .2);
    box-shadow: inset 0 2px 0 rgba(255, 255, 255, .2), inset 0 1px 1px rgba(0, 0, 0, .2), 0 1px 0 rgba(255, 255, 255, .1), inset 0 0 0 1px rgba(0, 0, 0, .2);
}

.radio-button_color_transparent .radio-button__radio:before
{
    position: absolute;
    top: 0;
    right: auto;
    bottom: 0;
    left: 0;
    width: 1px;
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,.3) 100%);
    background:    -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,.3) 100%);
    background:         linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,.3) 100%);
}

.radio-button_color_transparent .radio-button__radio_hovered_yes
{
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.18) 0%, rgba(244, 244, 244, 0.12) 100%);
    background:    -moz-linear-gradient(top, rgba(255, 255, 255, 0.18) 0%, rgba(244, 244, 244, 0.12) 100%);
    background:         linear-gradient(to bottom, rgba(255, 255, 255, 0.18) 0%, rgba(244, 244, 244, 0.12) 100%);
}

.radio-button_color_transparent .radio-button__radio_pressed_yes
{
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.25) 100%);
    background:    -moz-linear-gradient(top, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.25) 100%);
    background:         linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.25) 100%);
    -webkit-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.5), 0 1px 0 rgba(255, 255, 255, .1), inset 0 1px 3px rgba(0, 0, 0, 0.6);
    box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.5), 0 1px 0 rgba(255, 255, 255, .1), inset 0 1px 3px rgba(0, 0, 0, 0.6);
}

.radio-button_color_transparent .radio-button__text
{
    color: rgba(0, 0, 0, .75);
    text-shadow: 0 1px 0 rgba(255, 255, 255, .3);
    font-weight: bold;
    font-family: Helvetica, Tahoma, sans-serif;
}
/* ../../../../../common.blocks/radio-button/_color/radio-button_color_transparent.css end */
/* ../../../../../common.blocks/radio-button/_size/radio-button_size_xl.css begin */
.radio-button_size_xl,
.radio-button_size_xl .radio-button__radio_side_left,
.radio-button_size_xl .radio-button__radio_side_right
{
    border-radius: 8px;
}

.radio-button_size_xl .radio-button__radio
{
    min-width: 50px;
    height: 50px;
    font-size: 17px;
    line-height: 50px;
}

.radio-button_size_xl .radio-button__text
{
    padding-right: 17px;
    padding-left: 17px;
}
/* ../../../../../common.blocks/radio-button/_size/radio-button_size_xl.css end */
/* ../../../../../common.blocks/radio-button/_side/radio-button_side_both.css begin */
.radio-button_side_both
{
    border-radius: 0;
}
/* ../../../../../common.blocks/radio-button/_side/radio-button_side_both.css end */

/* 20-tab-switcher.css end */
/* ../../../../../libs/bem-components/desktop.blocks/button/button.ie9.css begin */
.button
{
    /* Not displayed box-shadow block in the table with the border-collapse: collapse */
    border-collapse: separate;
}

/* ../../../../../libs/bem-components/desktop.blocks/button/button.ie9.css end */
/* ../../../../../libs/bem-components/desktop.blocks/radiobox/__box/radiobox__box.ie9.css begin */
.radiobox__box
{
    /* Not displayed box-shadow block in the table with the border-collapse: collapse */
    border-collapse: separate;
}

/* ../../../../../libs/bem-components/desktop.blocks/radiobox/__box/radiobox__box.ie9.css end */
