.dialog-window__icon
{
    position: relative;
    top: -4px;
    display: inline-block;
    margin: 0 20px 0 0;
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    vertical-align: middle;
}