.checkbox_color_blue .checkbox__box:before
{
    border-style: solid;
    border-color: #27A8C9;
}

.checkbox_color_blue .checkbox__tick
{
    color: #27A8C9;
}

@media all and (min-width:0px) {
    .checkbox_color_blue .checkbox__box:before,
    .checkbox_color_blue .checkbox__box:after
    {
        position: absolute;
        content: '';
    }

    .i-ua_js_no .checkbox__box:before,
    .i-ua_js_no .checkbox__box:after,
    .i-ua_js_no .checkbox__tick
    {
        display: none;
    }
}
