.button__icon
{
    top: 0;
    margin: 0 .25em;
    vertical-align: top;
}

.button__icon_visibility_hidden
{
    display: none;
}

.button__icon:first-child
{
    margin-left: 0;
}

.button__icon:last-child
{
    margin-right: 0;
}