.input_color_blue .input__box
{
    background: #27b2d0;
    background: -webkit-linear-gradient(top, rgba(39, 178, 208, 1) 0%, rgba(29, 151, 191, 1) 100%);
    background:    -moz-linear-gradient(top, rgba(39, 178, 208, 1) 0%, rgba(29, 151, 191, 1) 100%);
    background:         linear-gradient(to bottom, rgba(39, 178, 208, 1) 0%, rgba(29, 151, 191, 1) 100%);
    -webkit-box-shadow: 0 0 1px #105b7d inset, 0 1px 4px rgba(0, 0, 0, .15);
    box-shadow: 0 0 1px #105b7d inset, 0 1px 4px rgba(0, 0, 0, .15);
}

.input_color_blue .input__control,
.input_color_blue .input__hint
{
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .3);
    font-family: Helvetica, Tahoma, sans-serif;
}