.modal-window__button_type_close
{
    float: right;
    text-decoration: none;
    font-size: 20px;
    cursor: pointer;
    color: white;
    display: block;
    font-weight: bold;
    position: relative;
    right: 18px;
    top: -44px;
}


.modal-window__button_visibility_hidden
{
    display: none;
}

.modal-window__button_type_cancel, .modal-window__button_type_submit
{
    margin: 20px;
    min-width: 100px;
}