.input_size_m
{
    height: 32px;
    font-size: 13px;
    line-height: 32px;
}

.input_size_m .input__box
{
    padding-right: 28px;
    border-radius: 4px;
}

.input_size_m .input__control,
.input_size_m .input__hint
{
    padding-right: 10px;
    padding-left: 10px;
}

.input_size_m .input__clear
{
    width: 28px;
}