.checkbox_size_l
{
    font-size: 15px;
}
.checkbox__box
{
    display: inline-block;
}

.checkbox_size_l .checkbox__tick
{
    font-size: 35px;
    width: 46px;
    height: 46px;
    top: 2px;
    left: -9px;
    margin: 0 0 3px 12px;
    vertical-align: middle;
    background: none;
}

.checkbox_size_l .checkbox__box:after,
.checkbox_size_l .checkbox__box:before
{
    margin-top: 1px;
    width: 46px;
    height: 46px;
}
