.checkbox_size_m .checkbox__box
{
    width: 28px;
    height: 28px;
    border-width: 2px;
}

.checkbox_size_m .checkbox__box:after,
.checkbox_size_m .checkbox__box:before
{
    top: -2px;
    left: -2px;
    border-width: 2px;
}

.checkbox_size_m .checkbox__tick
{
    font-size: 25px;
    line-height: 28px;
}

.checkbox_size_m .checkbox__label
{
    font-size: 13px;
}