.checkbox_size_s
{
    font-size: 13px;
}

.checkbox_size_s .checkbox__tick
{
    font-size: 20px;
    width: 28px;
    height: 28px;
    top: 4px;
    left: -9px;
    margin: 0 0 3px 12px;
    vertical-align: middle;
    background: none;
}

.checkbox_size_s .checkbox__box:after,
.checkbox_size_s .checkbox__box:before
{
    margin-top: 1px;
    width: 28px;
    height: 28px;
}
