.checkbox_size_s .checkbox__box
{
    width: 24px;
    height: 24px;
    border-width: 2px;
}

.checkbox_size_s .checkbox__box:after,
.checkbox_size_s .checkbox__box:before
{
    top: -2px;
    left: -2px;
    border-width: 2px;
}

.checkbox_size_s .checkbox__tick
{
    font-size: 22px;
    line-height: 24px;
}

.checkbox_size_s .checkbox__label
{
    font-size: 13px;
}