.checkbox_size_m
{
    font-size: 13px;
}

.checkbox_size_m .checkbox__tick
{
    font-size: 25px;
    width: 30px;
    top: 5px;
}

.checkbox_size_m .checkbox__box:after,
.checkbox_size_m .checkbox__box:before
{
    width: 30px;
    height: 30px;
}
.checkbox__box
{
    width: 30px;
    line-height: 30px;
    border-width: 2px;
}
